@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: #f4f4f4; */
  font-family: "Poppins", sans-serif;

  /* font-size:16px;
  line-height: 1.6em;
  margin: 0; */
}

/* Arial, Helvetica, sans-serif; */

.container {
  max-width: 500px;
  margin: 200px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

/* <!-- CSS Practice --!> */

.main-header-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.show-container {
  width: 80%;
  margin: auto;
  margin-top: 125px;
  overflow: hidden;
}

#main-header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: coral;
  color: #fff;
  height: 80px;
  display: flex;
  /* align-items: center; */
}

#navbar {
  position: fixed;
  top: 80px;
  width: 100%;
  background-color: #333;
  color: #fff;
}

#navbar ul {
  padding: 10px 0px;
  list-style: none;
  display: flex;
  justify-content: right;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-left: 15px;
}

#navbar a:hover,
#navbar a:focus,
#navbar a:active {
  color: rgb(40, 200, 56);
}

#showcase {
  background-image: url(./images/background-2.jpg);
  /* background-repeat:no-repeat; */
  background-position: center right;
  min-height: 200px;
  margin-bottom: 30px;
  text-align: center;
}

#showcase h1 {
  color: #fff;
  font-size: 50px;
  line-height: 1.6em;
  padding-top: 30px;
  padding-bottom: 30px;
}

#main {
  float: left;
  width: 70%;
  padding: 10px 30px;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: 30%;
  background: #333;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

#box {
  background: rgb(115, 203, 144);
  color: rgb(214, 47, 47);
  border: 2px solid #333;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

/* #box:first-child {
  background: rgb(83, 98, 88);
  color: rgb(246, 244, 244);
  border: 2px solid #333;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
} */

#box:nth-child(odd) {
  background-image: url("./images/background-1.jpg");
  position: center center;
  color: rgb(71, 51, 225);
  border: 2px solid #333;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

#main-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  /* position: fixed;
  bottom: 0px;
  width: 100%; */
}

.goto {
  position: fixed;
  top: 400px;
  background-color: rgb(31, 218, 31);
  padding: 8px;
  border-radius: 3px;
}

.goto a {
  text-decoration: none;
  color: red;
  font-weight: bold;
  font-family: Times, "Times New Roman";
}

@media (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
  }
  #sidebar {
    width: 100%;
    float: none;
  }
}

@media (max-width: 768px) {
  .box-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .box-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
